:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* grid layout */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

/* per column style */
.per-single-column {
    background-color: #F2F4F7;
    position: relative;
    top: 20px;
    width: 460px;
}

.per-singe-column-scrollbar {
    overflow-y: scroll;
    height: 95vh;
    padding: 10px 20px;
}

.column-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
}

.left-column-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-column-title {
    padding: 5px;
}

.left-column-title-color-red {
    background-color: #D21010;
    width: 10px;
    height: 10px;
    padding: 20px;
    border-radius: 50% 0% 0% 50%;
}

.left-column-title-color-sky {
    background-color: #00B5FF;
    width: 40px;
    height: 40px;
    border-radius: 50% 0% 0% 50%;
}

.left-column-title-color-yellow {
    background-color: #FFE700;
    width: 40px;
    height: 40px;
    border-radius: 50% 0% 0% 50%;
}

h4 {
    padding-left: 10px;
}

.column-card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.card-img-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    display: flex;
    justify-content: start;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px;
}

h2 {
    font-size: 15px !important;
    margin-left: 10px;
    /* border: 1px solid red; */
}

p {
    margin: 0px;
    padding-left: 0px;
}

.crad-description {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 10px;
    gap: 10px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.description-icon {
    margin: 5px !important;
}


.half-in-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D8D8D9;
    padding: 5px;
    border-radius: 5px;
}

.half-in-card p {
    margin-bottom: 0px;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5;
    font-size: 15px !important;
    margin-top: 10px;
}

.card-footer-man {
    background: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.footer-comment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-comment p {
    margin: 0px 0px 0px 4px !important;
}

.footer-upload-file {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-upload-file span {
    margin: 0px 0px 0px 4px !important;
}

.fa-link {
    cursor: pointer !important;
}

/*  custom modal */

.button-modal {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20% !important;
    top: 0;
    height: 100%;
    width: 60% !important;
    overflow: auto;
}

.modal-content {
    margin: 10% auto;
    box-shadow: 0 100px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);


}

.modal-header h2,
.modal-footer h3 {
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background: var(--modal-color);
    padding: 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    margin: 0px auto;
}
.upload-button{
    background-color: #006EB8;
    border: none;
    padding: 10px 15px;
    color: white;
}

.modal-body {
    padding: 10px 20px;
    background: #fff;
    width: 100%;
    margin: 0px auto;
}

.modal-footer {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    margin: 0px auto;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* scroll bar  */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #E4E4E4;
}

::-webkit-scrollbar-thumb {
    background: #006EB8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
}